/*  your css code here. If applicable */
* {padding:0px; 
   margin:0px;
  
  }
.header {
	color:white;
	text-align:center;
	padding:0px;
	background-color:#011e29;
	
}
.last-news-section{
	background-color:#f5f5f5;
	padding:50px;
	text-align:center;
	padding:200px;
	width:50px;
	
}
.pictorial-news-section {
	text-align:center;
	background-color:#f5f5f5;
	padding:10px;
	width:20px;
	border-radius:50px;
}

